/*header.main{
  display: block;         
  @media (min-width: 1024px) { 
}
}
nav.navbar{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 1rem;
padding-bottom: 1.25rem;
padding-left: 3.5rem;
padding-right: 3.5rem;

}
h1.hash{
font-size: 1.875rem;
line-height: 2.25rem; 
font-size: bold;
color: #6B7280; 
font-weight: 700;

}
a{
text-decoration: none;
}
h1 span.sp{
color: #10B981; 
font-weight: 700;

}
div.list{
display: flex;
gap: 2rem; 

}
a.link2{
font-weight: 600;
font-size: 1.125rem;
line-height: 1.75rem; 
color: rgba(0, 0, 0, 0.674);

}
a.link2:hover{
color: #047857; 
font-weight: 700;
transition-duration: 0.5s; 
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
div.sec{
position: relative;
}
label.for{
position: relative;
display: block;

}

span.sear{
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-Space: nowrap;
border-Width: 0; 

}
span.box{
position: absolute;
top: 0;
bottom: 0; 
left: 0; 
align-items: center;
display: flex;
padding-right: 2rem; 
padding-left: 0.75rem; 
color: gray;


}
input.form{
font-style: italic;
color: rgb(148 163 184);
display: block;
background: white;
width: 80%; 
border-width: 1px; 
border-color: rgb(203 213 225); 
border-radius: 0.375rem; 
padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-left: 3rem; 
padding-right: 0.75rem; 
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 

}
input:focus{
outline:none;
border-color: rgb(14 165 233);
--tw-ring-color: rgb(14 165 233);
font-size: 0.875rem;
line-height: 1.25rem; 
}*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { font-family:'Poppins', sans-serif; 
    margin: 0; padding: 0; 
    box-sizing: border-box; scroll-behavior: smooth; }

header { display: flex; background-color: #f0f0f0;
         width: 100%; justify-content: space-between;
         padding: 15px 200px; align-items: center;
         position: fixed; z-index: 999; }

.logo { text-decoration: none; font-size: 27px; 
        font-weight: 750;  text-transform: uppercase; color: #3a6cf4; }
.nav  { 
        text-decoration: none; font-size: 18px;
        font-weight: 500; padding-left: 60px; color: #3a6cf4; }                 
.nav:hover { color:#601cfc; }


